:root {
  --primary-color: rgb(135, 209, 219);
  --secondary-color: #000000;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  ;
}

body {
  margin-top: 100px;
  font-family: 'Cinzel', serif;
  background-color: rgb(255, 255, 255);
   
}


h1,
h2,
h3 {
   line-height: 2,5;
  margin: 0;
  font-family: 'Cinzel', serif;
  text-align: center;
  color: rgb(0, 0, 0);
 }

h1 {
  font-size: 58px;
   line-height: 1,5;
   margin: 20px 20px ;
   padding: 25px 25px;
}

h2 {
   margin: 20px 20px ;
   padding: 25px 25px;
   line-height: 1,5;
  font-size: 28px;
  font-family: 'Island Moments', cursive;
font-family: 'Source Code Pro', monospace;
}

h3 {
  
  font-size: 28px;
  opacity: 0.7;
   line-height: 1,5;
  font-family: 'Island Moments', cursive;
font-family: 'Source Code Pro', monospace;
}

p {
   margin: 20px 20px ;
   padding: 25px 25px;
  font-size: 28px;
  line-height: 1,5;
  border-radius: 30px;
font-family: 'Island Moments', cursive;
font-family: 'Source Code Pro', monospace;
background-color: rgb(248, 213, 241);
 
}
.navbar-nav {
  font-family: 'Island Moments', cursive;
font-family: 'Source Code Pro', monospace;
background-color:rgb(255, 226, 249);
}

.navigation-links {
  display: flex;
  margin-top: 40px;

  justify-content: center;
}
.navbar-brand {
  font-family: 'Island Moments', cursive;
font-family: 'Source Code Pro', monospace;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  text-align: center;
  border-radius: 6px;
   padding: 10px 10px;
  margin:0 auto;
  display: block;
  text-decoration: none;
     background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: rgb(0, 0, 0);
}
.secondary-link {
  text-align: center;
  border-radius: 4px;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
 
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 70px 0;
}

.about-paragraphs p {
  margin: 50px;
  
}

.email-link {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0); 
   font-size: 38px;
  text-decoration: none;
  text-align: center;
}

.email-link:hover {
  text-decoration: underline;
  color: rgb(209, 121, 231);
  cursor: pointer;

}
.image {
 
  margin:0 auto ;
  display: block;
  width: 25%;
  border-radius:60px;
 box-shadow: var(--box-shadow);
  color: rgb(0, 0, 0);
}